{
  "DOCKER_USERNAME": "abrsanchez",
  "DOCKER_PASSWORD": "dckr_pat_PEMyxCOKpH-BMi1oNEcLkSQttac",
  "VPS_HOST": "159.223.9.97",
  "VPS_USER": "root",
  "VPS_SSH_KEY": "-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAACmFlczI1Ni1jdHIAAAAGYmNyeXB0AAAAGAAAABASM1eHsz
rA72Sti3vc5XoiAAAAGAAAAAEAAAAzAAAAC3NzaC1lZDI1NTE5AAAAIMyMsUYEMg295AAZ
uy29stx4JDKxvZX+WeGk21G73aLGAAAAoBcWFFcWrNinp+wFaF+vohwb9mjzGNkOMCI6m1
IXreV2zjj0RteT9pHIjHZqg+nSNZ+yjFNAOrsveeMkYAlIEJarW9JbLdkyoAF54eQfK/kk
KpySl1XVUmYi8Xrt1kpz8pQHnMnZ4ZYRm1C7eIKXYCPUPpuTU0Z+LW9U1tQqL0J+OhbJPJ
y7LiHkjNfJEObFSgj7WP3mYMQAqUZ/hl5tI1w=
-----END OPENSSH PRIVATE KEY-----",
  "VPS_DEPLOY_PATH": "/opt/amefa/AMEFA.Orchestration"
}
