{
  "JWT_ISSUER": "http://159.223.9.97:8080",
  "JWT_AUDIENCE": "http://159.223.9.97:8080",
  "EMAIL_BASE_URL": "http://159.223.9.97:8080",
  "EMAIL_WEBAPP_URL": "http://159.223.9.97:3000",
  "VITE_API_BASE_URL": "http://159.223.9.97:8080/api",
  "STAGING_DB_CONNECTION_STRING": "Server=db33665.databaseasp.net;Database=db33665;User Id=db33665;Password=tu-password;Encrypt=False;MultipleActiveResultSets=True;TrustServerCertificate=True;",
  "JWT_KEY": "R9XNPi/qT15Ab236kuRJNqyH4HzkMnaJW+YajdIH686eK9FJZ9xaM5DDugDcVisfJ4RqGolhv6xVMeRfGBg32A==",
  "STRIPE_SECRET_KEY": "sk_test_51SQut3PFLMaWWqfnxr0AFlb24kPEWoGks5kE5viCXzL0J8MAvZK9MUZth2TsUQXkwCsxx1RsLzdlxYnsIJunatsc00gy3X241t",
  "STRIPE_PUBLISHABLE_KEY": "pk_test_51SQut3PFLMaWWqfnMe5x7r1C6PJfA3oUPxdHp1VWWGHFJ3LnBW9dgD0KQtBtXv1qfx0hLRr8D0TXe2PAiEGjgHo7006ciMiPIt",
  "STRIPE_WEBHOOK_SECRET": "whsec_sIrvX5oFpnHei75RdB4IrekTPh1bV9yx",
  "EMAIL_SMTP_USERNAME": "abrsanchez@gmail.com",
  "EMAIL_SMTP_PASSWORD": "qsutkluclhwyywzm",
  "EMAIL_FROM_EMAIL": "abrsanchez@gmail.com",
  "EMAIL_SUPPORT_EMAIL": "soporteapp@miamefa.com",
  "EMAIL_SUPPORT_PHONE": "+52 3312118519",
  "SUPERADMIN_PASSWORD": "AMEFA_Staging2024!K9#mPxvQw7@Secure"
}
